[Desktop Entry]
Name=Chef user
GenericName=Chef User
Comment=Chef user
Keywords=Script;
Exec=/usr/share/gecosws-config-assistant/chef-user
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;

